# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.development
.env.production

# Base de datos local
postgres_data/

# Builds
dist/
build/
.next/

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/